<!-- Thống kê về users -->
<div class="grid grid-cols-12 gap-4 justify-evenly">
  <!-- Total users -->
  <div class="flex justify-center xs:col-span-12 md:col-span-3">
    <div class="flex flex-col gap-4">
      <app-total-data
        [total]="this.totalUsers"
        [title]="'Người dùng'"
        [titleIcon]="'people'"
        [background]="'../../../../assets/images/growth.png'"
      ></app-total-data>
      <button
        type="button"
        (click)="toUsersMange()"
        class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      >
        Quản lý người dùng
      </button>
    </div>
  </div>
  <!-- New users by month and year -->
  <div class="flex justify-center md:col-span-5 xs:col-span-12">
    <div class="flex flex-row">
      <ngx-charts-bar-vertical
        (window:resize)="onResize($event)"
        [view]="view"
        [results]="single"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
      >
      </ngx-charts-bar-vertical>
      <div>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="menu to choose year"
        >
          <mat-icon color="primary">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="scrollbar-hide">
          <a (click)="$event.stopPropagation()"
            ><div class="flex flex-col">
              <mat-checkbox
                #menuItems
                *ngFor="let year of yearsDataSourceUsers"
                class="example-margin"
                [(ngModel)]="year.value"
                (change)="checkYear($event.checked, year.name)"
                >{{ year.name }}</mat-checkbox
              >
            </div></a
          >
        </mat-menu>
      </div>
    </div>
  </div>

  <!-- Daily active users shown bt % -->
  <div class="flex justify-center xs:col-span-12 md:col-span-4">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="usersByStatus"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
